<html>
<head>
  <title>Revmax</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <a href='/events?page=nyrangers'> NY Rangers </a> </br></br>
  <a href='/events?page=thegarden'> Madison Square Garden </a> </br></br>
  <a href='/events?page=terminal5nyc'> Terminal 5 </a> </br></br>
  <a href='/events?page=websterhallnyc'> Webster Hall </a> </br></br>
  <a href='/events?page=brooklynbowl'> Brooklyn Bowl </a> </br></br>


  <a href='/events?page=thestudioatwebsterhall'> Webster Hall Studio </a> </br> </br>
  <a href='/events?page=barclayscenter'> Barclays Center </a> </br> </br>
  <a href='/events?page='> Hammerstein Ballroom (HANDLE NOT AVAILABLE YET!) </a> </br> </br>
  <a href='/events?page='> United Palace Theater (HANDLE NOT AVAILABLE YET!) </a> </br> </br>
  <a href='/events?page=townhallnyc'> The Town Hall </a> </br> </br>
  <a href='/events?page=radiocitymusichall'> Radio City Music Hall </a> </br> </br>
  <a href='/events?page=boweryballroom'> Bowery Ballroom </a> </br> </br>
  <a href='/events?page=mercuryloungeny'> Mercury Lounge </a> </br> </br>
  <a href='/events?page=cakeshopnyc'> Cake Shop </a> </br> </br>
  <a href='/events?page=92YConcerts'> 92 St. Y (UPDATED!) </a> </br> </br>
  <a href='/events?page=pianosnyc'> Pianos </a> </br> </br>
  <a href='/events?page=citywinerynyc'> City Winery - ONLY SELL DIRECT TICKETS </a> </br> </br>
  <a href='/events?page=goodroombk'> Good Room </a> </br> </br>
  <a href='/events?page=madisonsquarepark'> Madison Square Park </a> </br> </br>
  <a href='/events?page=centralparknyc'> Central Park </a> </br> </br>
  <a href='/events?page=summerstagenyc'> Summer Stage </a> </br> </br>
  <a href='/events?page=prospectparkbrooklyn'> Prospect Park </a> </br> </br>
  <a href='/events?page=apollotheater'> Apollo Theater </a> </br> </br>
  <a href='/events?page=beacontheatre'> Beacon Theater </a> </br> </br>
  <a href='/events?page=carnegiehall'> Carnegie Hall </a> </br> </br>
  <a href='/events?page=bluenotenyc'> Blue Note </a> </br> </br>
  <a href='/events?page=jazzstandard'> Jazz Standard </a> </br> </br>
  <a href='/events?page=theiridium'> Iridium Jazz </a> </br> </br>
  <a href='/events?page=dizzysclubcocacola'> Dizzy's Club </a> </br> </br>
  <a href='/events?page=bbkingbluesnyc'> B.B. King's </a> </br> </br>
  <a href='/events?page=outputclub'> Output </a> </br> </br>
  <a href='/events?page=nyuskirball'> NYU Skirball </a> </br> </br>
  <a href='/events?page=musichallofwb'> Music Hall of Williamsburg </a> </br> </br>
  <a href='/events?page=knittingfactorybrooklyn'> Knitting Factory </a> </br> </br>
  <a href='/events?page=javitscenter'> Jacob Javits Center </a> </br> </br>
  <a href='/events?page=smorgasburg'> Smorgasburg </a> </br> </br>
  <a href='/events?page=bkbazaar'> Brooklyn Bazzar </a> </br> </br>
  <a href='/events?page=babysallright'> Babys all right </a> </br> </br>
  <a href='/events?page=theboweryelectric'> Bowery Electric </a> </br> </br>
  <a href='/events?page='> Verboten(HANDLE NOT AVAILABLE YET!) </a> </br> </br>
  <a href='/events?page=stvitusbar'> Saint Vitus Bar </a> </br> </br>
  <a href='/events?page=lprnyc'> Le Poisson Rouge </a> </br> </br>
  <a href='/events?page=leftfield'> Leftfield Bar on Ludlow </a> </br> </br>
  <a href='/events?page=highlineballroom'> Highline Ballroom </a> </br> </br>
  <a href='/events?page=irvingplaza'> Irving Plaza </a> </br> </br>
  <a href='/events?page=warsawconcerts'> Warsaw </a> </br> </br>
  <a href='/events?page=popgunpresents'> PopGun Presents </a> </br> </br>
  <a href='/events?page=roughtradenyc'> Rough Trade NYC </a> </br> </br>
  <a href='/events?page=gramercytheatre'> Gramercy Theatre </a> </br> </br>
  <a href='/events?page=subrosanyc'> Subrosa </a> </br> </br>
  <a href='/events?page=brooklyncenterfortheperformingarts'> Brooklyn Center for the Performing Arts </a> </br> </br>
  <a href='/events?page=wickedwillysnyc'> Wicked Willy's </a> </br> </br>
  <a href='/events?page=maxwellshoboken'> Maxwell's </a> </br> </br>
  <a href='/events?page=thebellhouseny'> The Bell House </a> </br> </br>
  <a href='/events?page=dromny'> DROM </a> </br> </br>
  <a href='/events?page=cmoneverybodybk'> C'Mon Everybody </a> </br> </br>
  <a href='/events?page=rooftopfilmsinc'> Rooftop films </a> </br> </br>
  <a href='/events?page=sobsnyc'> S.O.B.s </a> </br> </br>
  <a href='/events?page=blackbearbk'> Black Bear Brooklyn </a> </br> </br>
  <a href='/events?page=therockshop'> The Rock Shop </a> </br> </br>
  <a href='/events?page=nationalsawdust'> National Sawdust </a> </br> </br>
  <a href='/events?page=sheastadiumbk'> Shea Stadium </a> </br> </br>
  <a href='/events?page=cuttingroomnyc'> The Cutting Room </a> </br> </br>
  <a href='/events?page=silentbarn'> Silent Barn </a> </br> </br>
  <a href='/events?page=lavony'> Lavo </a> </br> </br>
  <a href='/events?page=thehallbrooklyn'> The Hall at MP </a> </br> </br>
  <a href='/events?page=marqueeny'> Marquee </a> </br> </br>
  <a href='/events?page=theshopbk'> The Shop </a> </br> </br>
  <a href='/events?page=transpecos.ny'> Trans-Pecos </a> </br> </br>
  <a href='/events?page=rockwoodmusichall'> Rockwood Music Hall </a> </br> </br>
  <a href='/events?page=cieloclub'> Cielo </a> </br> </br>
  <a href='/events?page=slakenyc'> Slake (all Jukely people now) </a> </br> </br>
  <a href='/events?page=spaceibizanewyork'> Space Ibiza NYC </a> </br> </br>
  <a href='/events?page=birdlandjazzclub'> Birdland Jazz Club </a> </br> </br>
  <a href='/events?page=foresthillsstadium'> Forest Hills Stadium </a> </br> </br>
  <a href='/events?page=littlefieldnewyorkcity'> Littlefield </a> </br> </br>
  <a href='/events?page='> Blue Man Group At the Astor Place Theatre (HANDLE NOT AVAILABLE YET!) </a> </br> </br>
  <a href='/events?page='> Palace Theatre New York (HANDLE NOT AVAILABLE YET!) </a> </br> </br>
  <a href='/events?page='> Richard Rodgers Theatre (HANDLE NOT AVAILABLE YET!) </a> </br> </br>
  <a href='/events?page=kingstheatrebklyn'> Kings Theatre </a> </br> </br>
  <a href='/events?page=metopera'> Metropolitan Opera House </a> </br> </br>
  <a href='/events?page=prucenter'> Prudential Center </a> </br> </br>
  <a href='/events?page=yankeestadium0'> Yankee Stadium </a> </br> </br>
  <a href='/events?page=yankees'> Yankees </a> </br> </br>
  <a href='/events?page='> Citi Field (HANDLE NOT AVAILABLE YET!) </a> </br> </br>
  <a href='/events?page=mets'> Mets </a> </br> </br>
  <a href='/events?page=metlifestadium'> Metlife Stadium </a> </br> </br>
  <a href='/events?page=stage48'> Stage 48 </a> </br> </br>
  <a href='/events?page=houseofyes'> House of Yes </a> </br> </br>
  <a href='/events?page=nyknicks'> NY Knicks </a> </br> </br>
  <a href='/events?page=newyorkislanders'> NY Islanders </a> </br> </br>
  <a href='/events?page=newyorkgiants'> NY Giants </a> </br> </br>
  <a href='/events?page=nyliberty'> NY Liberty </a> </br> </br>
  <a href='/events?page=newyorkriveters'> NY Riveters </a> </br> </br>
  <a href='/events?page=4040club'> 40/40 Club </a> </br> </br>
  <a href='/events?page='> Event happening at the 40/40 club but it does not show on the page??? (HANDLE NOT AVAILABLE YET!) </a> </br> </br>
  <a href='/events?page=yiddishnewyork'> Yidish New York </a> </br> </br>
  <a href='/events?page='> Pre Game Events (HANDLE NOT AVAILABLE YET!) </a> </br> </br>
  <a href='/events?page=nikonjbt'> Nikon at Jones Beach Theater </a> </br> </br>

  <a href='/auth/facebook?repository_access=true'> Get Token </a> </br></br>

</body>
</html>
